$dark_color:  #171717;
$light_color : #fff;
$header_height: 50px;
$slider_v_margin: 20px;

body{
	font-family: 'Roboto', sans-serif;
}

@mixin dark_scrollbar {
	/* width */
	&::-webkit-scrollbar { width: 5px; }

	/* Track */
	&::-webkit-scrollbar-track {
		background: $dark_color;
	}

	&:hover{

		/* Track */
		&::-webkit-scrollbar-track {
			background: rgb(54, 54, 54);
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #fff;
		}
	}
}

//  ---------------------------------------------------------------------
// dark theme
//  ---------------------------------------------------------------------
#wprlbg.dark-theme { 
	background: $dark_color ;

	#wprlbg-header {
		border-color: #3a3a3a;
		// background: #00000080;
	}

	#wprlbg-counter {
		color: #BCBCBC;
	}

	#wprlbg-sidebar { 

		@include dark_scrollbar;

	}

	#wprlbg-buttons button{

		path {
			stroke: #fff;
		}

		&:active{
			background : #eee;
		}

	}

	// show / hide sidebar button
	#wprlbg-show-sidebar {
		path{
			fill : #fff;
		}
	}

	#wprlbg-slider li .caption{
		color: #a0a0a0;

		@include dark_scrollbar;
	}
}



//  ---------------------------------------------------------------------
// light theme
//  ---------------------------------------------------------------------
#wprlbg.light-theme { 
	background: $light_color ;

	#wprlbg-header {
		border-color: #f0f0f0;
		// background:#ffffff80;
	}

	#wprlbg-counter {
		color: #a1a1a1;
	}

	#wprlbg-sidebar { 

		&::-webkit-scrollbar-track {
			background: $light_color;
		}

		&:hover{
			/* Track */
			&::-webkit-scrollbar-track {
				background: rgb(218, 218, 218);
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #000;
			}
		}
	}

	#wprlbg-buttons button{

		path {
			stroke: #000;
		}

		&:active{
			background : #eee;
		}

	}

	// show / hide sidebar button
	#wprlbg-show-sidebar {
		path{
			fill : #000;
		}
	}

	#wprlbg-slider li .caption{
		color: #515151;
	}

}



//  ---------------------------------------------------------------------
// caption style
//  ---------------------------------------------------------------------

@mixin caption_in_sidebar{
	
	.caption{
		margin-left: 30px;
		width: 300px;
		min-width: 300px;
		font-weight: 500;
		font-size: 16px;

		p{
			margin: 0 0 15px;
		}

		p:last-child{
			margin-bottom: 0;	
		}
	}
}

@mixin caption_in_bottom{
	#wprlbg-slider li{
		display: flex;
		align-items: center; // vertical align
		justify-content: center; // vertical align
		height: calc(100vh - #{$header_height} - #{$slider_v_margin} );

		img{
			margin: 0 auto;
		}

		.caption{
			width: 100% !important;			
			padding: 10px 10px 0;
			text-align: center;
			// font-size: 16px;

			// font-weight: 500;
			font-size: 14px;
			line-height: 21px;

			p{
				margin: 0 0 15px;
			}
		}
	}
}

// default darkmode color scheme

#wprlbg{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 99999;
	overflow-y:auto;
}

#wprlbg-header{
	height: $header_height;
	border-bottom: solid 1px #3a3a3a;
	// margin-bottom: 10px;

	position: fixed;
    top: -#{$header_height};
    left: 0;
    right: 0;
    z-index: 999;
	transition: 0.4s;
}


#wprlbg-counter{
	font-size: 20px;
	color: #BCBCBC;
	padding: 0 18px;
	float: left;
	font-weight: 300;
	display: flex;
	align-items: center;
	height: $header_height;

}

#wprlbg-buttons{
	float: right;

	button{
		background: none;
		border: none;
		padding : 0;
		width: 50px;
		height: $header_height;
		outline: none !important;
		transition: 0.3s;
		opacity: 0.5;

		svg{
			margin: auto;
		}

		// path{
		// 	stroke: #b9b9b9;
		// }
		
		&:hover{

			opacity : 1;

			// path{
			// 	stroke: #fff;
			// }
		}

		// &:active{
		// 	background : #292929;
		// }

	}

	#wprlbg-show-sidebar {
		path{
			stroke-width: 0;
			// fill : #b9b9b9;
		}

		// &:hover{
		// 	// path{
		// 	// 	fill: #fff;
		// 	// }
		// }
	}

	#wprlbg-close:hover path{
		stroke:red !important;
	}
}

#wprlbg-sidebar{
	display: none;
	position: absolute;
	z-index: 999;
}

#wprlbg.has-sidebar #wprlbg-sidebar{
	display: block;
}

.wprlbg-thumbnail{
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 5px;
	margin: 0 0 15px;
	background-size: cover;
	opacity: 0.4;
	transition: 0.3s;
	cursor: pointer;

	&.active{
		opacity: 1;
		border: solid 2px #fff;
	}

	&:hover{
		opacity: 1;
	}

	
}

#wprlbg-body, #wprlbg-slider-container{
    overflow: hidden;
}

#wprlbg-slider{
	margin: 0;
	padding: 0;
	overflow: hidden;
	transition: 0.5s;

	li{
		float: left;
		margin: 10px 0 0 0; // 0 0 150px; 
		padding: 0 ;
		list-style: none;
		height : calc(100vh - #{$slider_v_margin});
		position: relative;
		transform: translateX(0);
		transition: 0.4s;
		cursor: grab;

		&:active{
			cursor: grabbing;
		}

		&:before{
			content: '';
			position: absolute;
			z-index: 99;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #ffffff00;
		}

		img{
			height: auto;
			border-radius: 5px;
			max-height: 100%;
			display: block;
			user-select: none;
		}


		.image{
			position: relative;
			
			
		}


		.image.loading{

			img{
				opacity: 0;
			}

		}

		.caption{
			color: #fff;
			font-size: 18px;
			font-weight: 300;
			opacity: 0;
			z-index: 999;
			padding-right: 5px;

			max-height: calc(100% - 60px);
			overflow: auto;

			strong{
				font-weight: bold;
			}


		}

		.caption.show-caption{
			animation-name: fade_in;
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
		}

	}
}


@keyframes fade_in {
	from {opacity: 0;}
	to {opacity: 1;}
}



// show header ---------------------------
#wprlbg.show-header {

	#wprlbg-header{
		top: 0;
		transition: 0.4s;
	}

	#wprlbg-slider li{
		height: calc(100vh - 50px - 20px);
		margin-top: $header_height + 10px; // 10 px top margin
	}

	#wprlbg-sidebar{
		height: calc(100vh - 50px ) !important;
		top: $header_height;
	}
}


@media(min-width: 1200px){ // xl

	// ----------------------------------------------------------------
	// caption styles
	// ----------------------------------------------------------------

	#wprlbg.caption-in-sidebar #wprlbg-slider {
		@include caption_in_sidebar;

		li{
			display: flex;
			justify-content: center;
			
			.image{
				display: flex;
				align-items: center; // vertical align
				justify-content: center; // horizontal align
			}
		}
	}

	#wprlbg.caption-in-bottom {
		@include caption_in_bottom;
	}
}

@media(max-width: 1199px){ // lg
	@include caption_in_bottom;
}

@media(max-width: 767px){ // sm

	#wprlbg-header {
		margin-bottom: 10px;
	}

	#wprlbg-sidebar{
		top: 70px;
	}

	#wprlbg-slider li {

		height: calc(100vh - #{$header_height} - 20px);

		.caption{
			font-size: 14px;
			line-height: 17px;
		}

		img{
			max-width: 100%; 
		}
	}
	
}


@media(max-width: 767px ) and (orientation: portrait){ 

	#wprlbg.has-sidebar #wprlbg-slider li{
		height: calc(100vh - 80px - #{$header_height}) !important;
	}

}


@media(max-width: 320px){ // iphone 5
	#wprlbg-buttons button{
		width: 50px;
	}
}

// horizontal orintation
@media (orientation: landscape) {

	#wprlbg.dark-theme #wprlbg-sidebar { 
		background: #0d0d0d;
	}

	#wprlbg.light-theme {
		#wprlbg-sidebar { 
			background: #f7f7f7;
		}

	}

	// no sidebar
	#wprlbg-slider li .image{
		margin-left: 0;
		width: calc(100vw - 60px); // 30 px padding in both sides
	}

	

	// has sidebar
	#wprlbg.has-sidebar{

		#wprlbg-slider li .image{
			margin-left: 95px;
			width: calc(100vw - 95px - 60px); // 30 px padding in both sides

			
		}
		
		#wprlbg-sidebar{
			left: 0;
			padding: 0 15px;
			overflow-y: auto;
			height: 100vh; // 10px header margin 
			// display: flex;
			// align-items: center;

			/* width */
			&::-webkit-scrollbar {
				width: 5px;
			}
		}

		#wprlbg-sidebar-wrapper{
			padding-top: 15px;
		}
	}

	// max width of slider img, if it has caption 
	#wprlbg-slider li img{
		max-width: calc(100% - 330px);
	}

	// max width of slider img, if it does not have caption 
	#wprlbg-slider li.no-caption img{
		max-width: 100%;
	}


}


// potrait orientation
@media (orientation: portrait) {

	#wprlbg.light-theme {
		
		.wprlbg-thumbnail.active{
			border-color: #000;
		}
	}


	#wprlbg-sidebar{
		position: fixed;
		bottom: 15px;
		top: inherit;
		overflow: hidden;
		overflow-x : auto;
		height: 50px !important;
		width: calc(100% - 15px);
		left: 15px;

		/* width */
		&::-webkit-scrollbar { height: 0px; }

		.wprlbg-thumbnail{
			height: 50px !important;
			width: 50px !important;
			float: left;
			margin:0 10px 0 0;
		}
	}

	#wprlbg.has-sidebar #wprlbg-slider li{
		height: calc(100vh - 100px - $header_height); // with sidebar
	}

	#wprlbg-slider li {

		.image{
			margin-left: 0 !important;
			width: calc(100vw - 20px);
		}

		img {
			max-width: 100%;
		}
	}
	
}
